<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">ABSA Group</div>
                                        <div class="h6 mt-0 title">Product Engineer (2021-06 - Present)</div>
                                        <p align="justify">Working with various technologies and services of aws including s3,athena,lambda, glue studio and ecs.</p>
                                        <p align="justify">Worknig as developer for Margin MI & Reporting team</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Software Development</li>
                                                <li class="non_list">Application Development</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">AWS</li>
                                                        <li class="non_list">SQL</li>
                                                        <li class="non_list">Python</li>
                                                        <li class="non_list">Terraform</li>
                                                        <li class="non_list">.NET Core</li>
                                                        
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Typescript</li>
                                                        <li class="non_list">JavaScript</li>
                                                        <li class="non_list">Nodejs</li>
                                                        <li class="non_list">Angular</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>   
                        <li>
                            <div class="timeline-badge down">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">The Digital Academy</div>
                                        <div class="h6 mt-0 title">Junior Software Developer (2020-12 - 2021-05)</div>
                                        <p align="justify">Worked as a Software developer to develop multiple applications including stock market application.</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Software Development</li>
                                                <li class="non_list">Application Development</li>
                                                <li class="non_list">Web Development</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Angular12+</li>
                                                        <li class="non_list">Nodejs</li>
                                                        <li class="non_list">Expressjs</li>
                                                        <li class="non_list">Postgresql</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">NoSql</li>
                                                        <li class="non_list">SQL</li>
                                                        <li class="non_list">Bootstrap</li>
                                                        <li class="non_list">Git</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
    </div>
</div>
        